body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #top-row {
    height: 50px;
    background-color: rgb(2, 14, 238);
    color: white;
    text-align: center;
    line-height: 20px;
  }
  
  #content-wrapper {
    display: flex; 
}
  
  #left-column, #right-column {
    width: 20%;
    float: left; 
    padding: 1rem;
    background-color: yellow;
  }
  
  #center-column {
    flex: 1; 
    padding: 1rem;
  }
  
  #left-column ul {
    list-style: none;
    background-color: yellow;
    padding: 0;
    margin: 0;
  }
  
  #left-column li {
    margin-bottom: 10px;
    background-color: yellow;
  }
  
  #left-column a {
    color: blue;
    text-decoration: none;
    background-color: yellow;
  }
  
  #center-column, #right-column {
    text-align: justify;
  }
  
  #center-column {
    background-color: darkblue;
    color: white;
  }
  
  #right-column {
    background-color: lightgreen;
    color: black;
  }
  
  footer {
    text-align: center;
    background-color: green;
    color: white;
    padding: 1rem;
  }
  